.collapsed-form {
    /* padding: 0.5rem 0; */
    height: 4rem;
    border-bottom: 1px dashed gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapsed-form:hover {
    /* border: 1px dashed black; */
    color: grey;
}

.right-collapsed {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.move-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
    height: 80%;
}

.move-up {
    transform: rotate(180deg);
}


.move-down, .move-up {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 5.5px;
    padding-right: 5px;
    /* @media (max-width: 500px) {
        font-size: 0.75rem;
    } */
}

.move-up, .move-down {
    border-radius: 5px;
}

.move-up:hover, .move-down:hover {
    background-color: grey;
    color: white;
}   

.remove {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    object-position: center;
    margin-left: 0.5rem;
}