@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 0.5px solid yellow; */
  background-color: white;
  line-height: normal;
}

*:focus {
  outline: none;
}

html {
  font-family: "Inter", sans-serif;
  height: fit-content;
  min-width: fit-content;
  font-size: 14px;
  @media (max-width: 1600px) {
      font-size: 80%;
    }
  
    @media (max-width: 1200px) {
      font-size: 70%;
    }
  
    @media (max-width: 800px) {
      font-size: 60%;
    }

    @media (max-width: 500px) {
      font-size: 50%;
    }
}

button {
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background-color: white;
  border: none;
}

input,  textarea{
  font-family: "Inter", sans-serif;
  width: 100%;
}

input:focus, textarea:focus {
  border: 2px solid rgb(99, 88, 70);
  transition: border ease-in-out .3s;
}

p {
  overflow-wrap: break-word;
}

ul {
  list-style-position: inside;
}

li p{
  display: inline;
}

li ul li {
  list-style-type: circle;
}