.resume2, .resume2 p:not(.resume2-section-header) {
    padding: 0;
}

.resume2, .resume2-left, .resume2-right{
    border-radius: 3px;
}

.resume2-left {
    background-color: var(--resume2-bg-color);
    color: white;
    padding: 6em 3.5em;
}
.resume2-left * {
    background: inherit;
}

.resume2-personal div:not(.resume2-name) {
    margin-bottom: 12px;
}
.resume2-name {
    margin-bottom: 20px;
}

.resume2-personal div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resume2-personal .fas {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.fa-location-dot::before {
    font-size: 1.2em;
}

.resume2-left h2 {
    font-size: 1.25em;
    margin-top: 3em;
    border-bottom: 3px solid white;
    margin-bottom: 0.75em;
}

.resume2-education {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.resume2-right {
    padding: 6em 3.5em;
    color: var(--resume2-bg-color);
}

.resume2 .section {
    margin-bottom: 1.25em;
}

.resume2-section-header {
    padding: 5px 0px;
    border-bottom: 4px solid var(--resume2-bg-color);
    font-weight: 550;
    margin-bottom: 1em;
}

.resume2-extracurricular {
    margin-bottom: 1em;
}
