.template-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.template-content {
    display: flex;
    gap: 1rem;
}

.template-content button {
    padding: 0.8rem 1rem;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: 700;
}


